@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Quality Quest</h1>
    <p>Please enter a Room Code in the field below to start playing!</p>
</div>
<div class="text-center-input">
    <h5 style="text-align: left; margin-left: 5%">Room Code:</h5>
    <form id="sessionsubmit">
        <input type="text" id="sessionkey" name="key" class="input-group-text newtec-input-box" maxlength="6" minlength="6"
               placeholder="Please enter the 6-figure Room Code" pattern="\w{6}" title="6-figure Room Code" required />
        <input type="submit" value="Play game" class="input-button submit-button" />
    </form>
    <p style="font-weight: bold; font-size: 12px">
        By playing the game, you agree to the
        <a target="_blank" rel="noopener noreferrer" asp-page="/TermsOfService">Terms of Service.</a>
    </p>
    <a target="_blank" rel="noopener noreferrer" href="https://www.newtec.de/">
        <img src="~/newtec_logo.png" alt="NewTec logo" class="logo" />
    </a>
</div>


