/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background: white;
    line-height: 60px; /* Vertically center the text there */
}

.text-center-input {
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 7% !important;
}

.footer-logo {
    float: right !important;
    margin-right: 10px !important;
}

.input-button {
    font-size: 1.3rem;
    background-color: #f3f3f3;
    border-width: 0;
    box-shadow: 0 5px 0 0 #dcdcdc;
    transition: 0.2s all;
    border-radius: 12px;
    min-width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.input-button:active {
    background-color: #dcdcdc;
    box-shadow: 0 2px 0 0 #adadad;
    transform: translateY(3px);
}

.submit-button {
    font-weight: bold;
    height: 60px;
    margin-top: 2%;
    margin-bottom: 1%;
    outline: none !important;
}

.logo {
    margin-top: 15%;
    max-width: 50%;
}

.newtec-input-box {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    font-weight: bold !important;
    display: unset;
    outline: none !important;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="text-center-input"] {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 10% !important;
    }

    [class*="footer-logo"] {
        display: none !important;
    }

    [class*="logo"] {
        max-width: 100%;
    }
}

.fixed-navbar {
    position: sticky !important;
    top: 0 !important;
    width: 100%;
    background-color: #0C2C40;
}

.content-container {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 80px;
}

.in {
    display: unset !important;
}

.consent-textbox {
    position: relative;
    width: 85%;
    height: 45%;
    overflow-y: auto;
    background-color: whitesmoke;
    color: black;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    margin: auto
}

.voting-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
    position: relative;
    width: 80%;
    margin: auto;
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%
}

.voting-button {
    border-style: solid;
    border-radius: 12px;
    font-size: 18px;
    transition: color 1s, background-position 1s ,box-shadow 1s;
    background-color: #f5f5f5;
    border-width: 0 0 5px 0;
    border-color: #e0e0e0;
    font-weight: bold;
}

/* VOTING CONTAINER ITEM LAYOUT FOR 4 CHOICES */

.voting-container-4items-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.voting-container-4items-2 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}

.voting-container-4items-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.voting-container-4items-4 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3;
}

/* VOTING CONTAINER ITEM LAYOUT FOR 3 CHOICES */

.voting-container-3items-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.voting-container-3items-2 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}

.voting-container-3items-3 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
}

/* VOTING CONTAINER ITEM LAYOUT FOR 2 CHOICES */

.voting-container-2items-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.voting-container-2items-2 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="voting-container"] {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;
    }

    [class*="voting-container-4items-1"] {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    [class*="voting-container-4items-2"] {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    [class*="voting-container-4items-3"] {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    [class*="voting-container-4items-4"] {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    [class*="voting-container-3items-1"] {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    [class*="voting-container-3items-2"] {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    [class*="voting-container-3items-3"] {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    [class*="voting-container-2items-1"] {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    [class*="voting-container-2items-2"] {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}



.voting-prompt {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 5vh;
    line-height: 1.2;
}

