/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background: white;
    line-height: 60px; /* Vertically center the text there */
}

.text-center-input {
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 7% !important;
}

.footer-logo {
    float: right !important;
    margin-right: 10px !important;
}

.input-button {
    height: 60px;
    border-radius: 12px;
    font-size: 18px;
    transition: color 1s,background-position 1s,box-shadow 1s;
    background-color: #f5f5f5;
    border-width: 0;
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0 5px 0 0 #e0e0e0;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
    outline: none !important;
}

.logo {
    margin-top: 15%;
    max-width: 50%;
}

.newtec-input-box {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    font-weight: bold !important;
    display: unset;
    outline: none !important;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="text-center-input"] {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 10% !important;
    }

    [class*="footer-logo"] {
        display: none !important;
    }

    [class*="logo"] {
        max-width: 100%;
    }
}

.fixed-navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    background-color: #0C2C40;
}

.content-container {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 60px;
    margin-bottom: 80px;
}

.in {
    display: unset !important;
}